@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-screen h-screen;

  margin: 0;
  padding: 0;
}

* {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: underline;
}

main {
  min-width: 100%;
  min-height: 100%;
}