@font-face {
    font-family: 'Proxima Nova';
    src: url('./lib/assets/fonts/proximanova_regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('./lib/assets/fonts/proximanova_bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('./lib/assets/fonts/proximanova_extrabold.otf') format('opentype');
    font-weight: 800;
}